.component{
    font-family: 'Fira Sans';
    font-size: 15vw;
}

.text-bg{
    background-color: #689775;
}

.text-fg{
    color: #0e2c18;
}

.component-container {
    background-color: rgba(173,129,122,0.5) !important;
}
